In [1]:
#from __future__ import print_function
from pandas import DataFrame
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

In [60]:
main_df= pd.read_excel('./data/matches.xlsx',header=0,index_col='ID',engine='openpyxl')

In [65]:
df1=main_df.loc[((main_df['Player1']=='Fulvio') & (main_df['Pl1-score']==21 )) | ((main_df['Player2']=='Fulvio') & (main_df['Pl2-score']==21 ))]

In [66]:
def show_win_result(player,df):
    df1=df.loc[((df['Player1']==player) & (df['Pl1-score']==21 )) | ((df['Player2']==player) & (df['Pl2-score']==21 ))]
    return df1[['Player1','Pl1-score','Pl2-score','Player2']]

def show_result(player,df):
    df1=df.loc[(df['Player1']==player)  | (df['Player2']==player)]
    return df1[['Player1','Pl1-score','Pl2-score','Player2']]

In [67]:
show_result('Fulvio',main_df)

    Player1  Pl1-score  Pl2-score Player2
ID
1    Fulvio         10         21    Clod
2    Fulvio          7         23    Clod
3    Fulvio         28         19    Clod
4    Fulvio         18         22    Clod
5    Fulvio         21          7    Clod
..      ...        ...        ...     ...
201  Fulvio         24         19    Clod
202  Fulvio         21         12    Clod
203  Fulvio         24          4    Clod
269  Fulvio         28         11    Clod
270  Fulvio         25          0    Clod

[171 rows x 4 columns]

In [68]:
interact(show_win_result, player=['Fulvio','Clod','Pietro'],df=fixed(main_df));

interactive(children=(Dropdown(description='player', options=('Fulvio', 'Clod', 'Pietro'), value='Fulvio'), Ou…